.header {
  height: 110px;
  position: relative;
  background-color: rgb(18, 161, 18);
  &__month {
    color: white;
    position: absolute;
    left:20px;
  }
  &__registration {
    text-decoration: none;
    color: white;
    position: absolute;
    left:20px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__login {
    text-decoration: none;
    color: white;
    position: absolute;
    left:100px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__logout {
    text-decoration: none;
    color: white;
    position: absolute;
    left:1000px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__income {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1120px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__expense {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1250px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
}
