.header {
  height: 110px;
  position: relative;
  background-color: rgb(18, 161, 18);
  &__title {
    color: white;
    position: absolute;
    left: 20px;
  }
  &__manth {
    color: white;
    position: absolute;
    left:200px;
  }
  &__cash_flow {
    color: white;
    position: absolute;
    left: 450px;
    top: 0px;
    font-size: 20px;
  }
  &__cash_flow-money {
    color: white;
    position: absolute;
    left: 450px;
    top: 20px;
    font-size: 30px;
  }
  &__registration {
    text-decoration: none;
    color: white;
    position: absolute;
    left:20px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__login {
    text-decoration: none;
    color: white;
    position: absolute;
    left:100px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__change {
    text-decoration: none;
    color: white;
    position: absolute;
    left:1080px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__logout {
    text-decoration: none;
    color: white;
    position: absolute;
    left:1200px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__new{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1300px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__user_name {
    color: white;
    position: absolute;
    left: 1235px;
    top: 50px;
  }
}
.expenses{
  float: left;
  overflow: scroll;
  width: 1100px;
  .left-content {
    margin: 5px 0 0 30px;
    float: left;
    &__title {
      padding: 0px 100px 0 100px;
      font-size: 25px;
    }
    &__list {
      padding: 20px 0 0 20px;
      font-size: 18px;
      
    }
    &__total {
      padding: 10px 0 0 20px;
      font-size: 25px;
      &__money {
        float: left;
      }
    }
  }
  .chart {
    float: left;
    margin: 100px 0 0 200px;
  }
}
.side-contents {
  background-color: rgb(243, 217, 222);
  width: calc(100vw - 1200px);
  height: 700px;
  float: right;
    .side-content__link {
      text-decoration: none;
      color: #000;
      .side-content {
        font-size: 14px;
        list-style-type: none;
        &__month {
          font-weight: bold;
        }
      }
   }
}
