.header {
  height: 110px;
  position: relative;
  &__title {
    color: white;
    position: absolute;
    left: 20px;
  }
  &__manth {
    color: white;
    position: absolute;
    left:200px;
  }
  &__cash_flow {
    color: white;
    position: absolute;
    left: 400px;
    top: 0px;
    font-size: 20px;
  }
  &__cash_flow-money {
    color: white;
    position: absolute;
    left: 400px;
    top: 20px;
    font-size: 30px;
  }
  &__registration {
    text-decoration: none;
    color: white;
    position: absolute;
    left:20px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__login {
    text-decoration: none;
    color: white;
    position: absolute;
    left:100px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__change {
    text-decoration: none;
    color: white;
    position: absolute;
    left:1120px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__logout {
    text-decoration: none;
    color: white;
    position: absolute;
    left:1200px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__new{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1250px;
    &__btn {
      border: solid 1px white;
      margin: 25px 30px 0 0;
      line-height: 40px;
    }
  }
  &__user_name {
    color: white;
    position: absolute;
    left: 1000px;
    top: 50px;
  }
}
.contents {
  float: left;
  overflow: scroll;
  width: 1230px;
  height: 700px;
  position: relative;
  .left-content {
    margin: 5px 0 0 30px;
    float: left;
    &__title {
      padding: 0px 100px 0 100px;
      font-size: 25px;
    }
    &__list {
      padding: 20px 0 0 20px;
      font-size: 18px;
      .category-name {
        border-top: thin solid gray; 
      }
      .category-money {
        border-top: thin solid gray; 
      }
      .edit_link {
        text-decoration: none;
        color: white;
        .edit_btn {
          margin-left: 20px;
          padding: 1px 12px;
          font-size: 12px;
          background: #ef7f1a;
          border: thin solid gray;
        }
      }
      .destroy_link {
        text-decoration: none;
        color: white;
        .destory_btn {
          padding: 1px 12px;
          font-size: 12px;
          background: #ef7f1a;
          border: thin solid gray;
        }
      }
    }
    &__total {
      padding: 10px 0 0 20px;
      font-size: 25px;
    }
  }
  .chart {
    position: absolute;
    left: 650px;
    top: 70px;
    float: left;
  }
}
.side-contents {
  background-color: rgb(243, 217, 222);
  width: calc(100vw - 1250px);
  height: 700px;
  float: right;
  .side-content__link {
    text-decoration: none;
    color: #000;
    .side-content {
      font-size: 14px;
      list-style-type: none;
      &__month {
        font-weight: bold;
      }
    }
  }
}
